      <div class="user-post">
      <a class="btn" href="/post/{{id}}">{{title}}<span class="user-post-date"> {{format_date created_at}}</span></a>
      </div>
      <div>
      <a href="/dashboard/edit/{{id}}" class="edit-link">Edit post</a>
      </div>
