<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Development Scoop</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="flex-column min-100-vh">
  <header class="hero">
    <nav>
        <a href="/dashboard">dashboard</a>
        <a id="logout" href="/login">logout</a>
          {{!-- <button id="logout" class="btn-no-style">logout</button> --}}
        <a href="/login">login</a>
    </nav>
    <h1>
      <a class="app-title" href="/">Tech Development Scoop</a>
    </h1>
  </header>
  <main class="flex-row justify-space-between">
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>

<script src="/javascript/logout.js"></script>

</body>

</html>