  {{#if posts.length}}
  <section>
    <h2>Your Posts</h2>
  <div class="post-list">
  {{#each posts as |post|}}
    {{> user-post post }}
      {{/each}}
</div>
</section>
{{/if}}
<a href="/dashboard/create/" class="btn">Add New Post</a>

