
      <div class="card">
        <h3 class="card-header"><a href="{{post_url}}" target="_blank">{{title}}</a></h3>
        <div class="card-body">
            <p>This is text</p>
        </div>
      </div>


{{!-- <ol class="post-list">
    {{#each posts as |post|}}
    <li>
    {{> post-info post }}
    </li>
    {{/each}}
</ol> --}}