<div class="single-post">
   {{> post-info post}}
</div>
{{#if loggedIn}}
<div class="card">
<form id="comment-form" class="card-body">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button id="comment-form-btn" class="btn" type="button">add comment</button>
  </div>
</form>
</div>
{{/if}}
{{> comments post.comments}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}